body {
    margin: 0;
    overflow: hidden;
    background: black;
}

#newyearText {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-shadow: 0 0 20px yellow, 0 0 30px red;
    animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
