body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#ff6ec4,#ffc371);
    font-family: "Poppins", sans-serif;
}

.login-box {
    background: rgba(255,255,255,0.25);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    text-align: center;
    width: 300px;
    box-shadow: 0 0 20px rgba(255,255,255,0.7);
    color: white;
    animation: glow 2s infinite alternate;
}
@keyframes glow {
    0% { box-shadow: 0 0 15px #fff; }
    100% { box-shadow: 0 0 35px #ff9fcd; }
}

.login-box input, .login-box button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 16px;
}

.login-box button {
    background: #ffbf00;
    font-weight: bold;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 15px gold;
}
