body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#df64b89c; /* light pink */
    /* background: linear-gradient(135deg, #ffd6e8, #ffb7d5, #ffcee6);  <-- gradient option */
    font-family:"Poppins",sans-serif;
    color:white;
}

.timer-container{
    text-align:center;
    padding:30px;
    background:rgba(226, 43, 211, 0.453);
    border-radius:20px;
    backdrop-filter:blur(6px);
    box-shadow:0 0 25px rgba(7, 98, 151, 0.5);
}

#timer{
    font-size:38px;
    font-weight:700;
    color:#dd3b7c;
    text-shadow:0 0 12px #ff77c6;
}


